@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.imgDescription-hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.imgDescription-hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menuAnimation {
  animation-duration: 1s;
}

@keyframes renderMenu {
  from {
    width: 0vw;
  }

  to {
    width: 40vw;
  }
}

/* Definizione della classe personalizzata con Tailwind */
.menuAnimation {
  animation-name: renderMenu;
  animation-fill-mode: forwards;
}

.hamburgerMenuLinks {
  width: 100%;
  border-bottom-width: 6px;
  font-size: 40px;
  border-color: #3c4141;
  font-weight: 700;
  color: #55C7EA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ImgSlider-buttonSelect {
  background: #55C7EA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0.5rem;
  font-weight: 700;
  color: #3c4141;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
}

.ImgSlider-buttonUnselect {
  background-color: #DFFFD8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0.5rem;
  font-weight: 700;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
}

.description-img-container {
  text-align: center;
  position: relative;
  border: 2rem #DFFFD8;
  background: #95BDFF;
  margin-left: 2rem;
  border-radius: 0.5rem;
  height: 700px;
}

.image-description {
  margin-top: 1rem;
  text-align: left;
  overflow-y: scroll;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: left;
}

.MenuButton {
  border-width: 4px;
  color: #DFFFD8;
  border-radius: 20px;
  border-color: #F7C8E0;
  ;
  padding: 10px;
  font-weight: 900;
}

.MenuButton:hover {
  border-color: #DFFFD8;
  color: #F7C8E0;
}

.MenuButton:focus {
  border-color: #DFFFD8;
  color: #F7C8E0;
  outline: none;
}

.linkButton {
  background-color: #F7C8E0;
  color: #3c4141;
  border-radius: 0.5rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
}

.linkButton:hover {
  background-color: #DFFFD8;
}

.linkButton:focus {
  background-color: #DFFFD8;
  outline: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body,
html {
  margin: 0;
  font-family: 'Shantell Sans', 'Big Shoulders Stencil Display', cursive;
  font-family: 'Shantell Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DFFFD8;
  scroll-behavior: smooth;
  color: #3c4141
}

code {
  font-family: 'Big Shoulders Stencil Display', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}