@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.MenuButton{
  border-width: 4px;
  color: #DFFFD8;
  border-radius: 20px;
  border-color: #F7C8E0;;
  padding: 10px;
  font-weight: 900;
}

.MenuButton:hover{
  border-color: #DFFFD8;
  color: #F7C8E0;
}

.linkButton{
  background-color: #F7C8E0;
  color: #3c4141;
  border-radius: 0.5rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
}
.linkButton:hover{
  background-color: #DFFFD8;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body, html {
  margin: 0;
  font-family:'Shantell Sans', 'Big Shoulders Stencil Display', cursive;
  font-family:'Shantell Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DFFFD8;
  scroll-behavior: smooth;
}

code {
  font-family: 'Big Shoulders Stencil Display', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
