@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&family=Cormorant+SC:wght@300&family=Raleway:ital@1&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
  color: white;
}

body, html {
  margin: 0;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-family: 'Big Shoulders Stencil Display' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  scroll-behavior: smooth;
}

code {
  font-family: 'Big Shoulders Stencil Display', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
